* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
}
.topnavbar {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(199, 179, 179);
    display: flex;
    align-items: center;
}
.phone p {
    font-size: 12px;
    font-weight: 600;
    color: rgba(0,0,0,0.4);
    margin-left: 90px;
}
.langua {
    font-size: 12px;
    font-weight: 600;
    color: rgba(0,0,0,0.4); 
}
.lang {
    margin-left: 550px;
    display: flex;
}
.follow p {
    font-size: 12px;
    font-weight: 600;
    color: rgba(0,0,0,0.4);  
    padding-top: 3px; 
}
.follow {
    display: flex;
    margin-left: 120px;
    gap: 10px;
}
.icon1 {
    color: rgba(0,0,0,0.4) ;
    cursor: pointer;
    transition: 0.5s;
}
.icon1:hover {
    color: black;
}
#language {
    border: 0;
    color: rgba(0,0,0,0.4);
    outline: none;
    cursor: pointer;
}
.navbar {
    width: 100%;
    height: 90px;
    background-color: transparent;
    display: flex;
    align-items: center;

}
.navbar h2 {
    color: #2E21DF;
    margin-left: 60px;
}
.navbarlist {
    display: flex;
    margin: 0 auto;
    gap: 15px;
}
.navbarlist li a {
    color: rgba(0,0,0,0.4); 
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
}
.navbarlist li a:hover {
    color: black;
}
.sideicons {
    margin-right: 110px;
}
.icon2 {
    border-radius: 50%;
    background-color: rgba(43, 37, 37, 0.4);
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 4px;
    color: rgba(0,0,0,0.4);
    cursor: pointer;
    transition: 0.5s;
}
.icon2:hover {
    color: black;
}
.icon3 {
    position: relative;
    right: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.container {
    width: 100%;
    height: 400px;
    background-image: url("../images/index_background.jpg.webp");
    background-position: center;
    background-repeat: no-repeat;
}
.ease {
    text-align: center;
    padding-top: 100px;
}
.get {
    text-align: center;
    padding-top: 70px;
    cursor: pointer;
    transition: 0.5s;
}
.get span {
    padding: 15px 50px;
    font-size: 12px;
    background-color: #2E21DF;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 7px;
}
.flags {
    width: 75%;
    height: 130px;
    margin: 0 auto;
    margin-top: 50px;
}

/* why hover doesn't work? */
.icon3:hover {
    color: black;
}
.container1 {
    max-width: 80%;
    margin: 0 auto;
}
.flags {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.maindiv {
    width: 50px;
    height: auto;
}
.maindiv img {
    width: 100%;
}
.text h3 {
    font-size: 13px;
    color: rgba(0,0,0,0.4);
    font-weight: bold;  
    cursor: pointer;
    transition: 0.5s;
}
.text h3:hover {
    color: black;
}
.text {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.headingcourses {
    padding-top: 130px;
    text-align: center;
}
.list1 {
    width: calc(100% / 3);
    height: 400px;
    background-color: #F8F8F8;
}
.list1 img {
    width: 350px;
}
.list_courses {
    padding-top: 60px;
    display: flex;
    gap: 25px;
}
.vocabulary {
    padding: 25px;
    width: 100%;
    height: 170px;
    background-color: transparent;
    border-bottom: 1px solid rgb(228, 227, 227);
}
.vocabulary h3 {
    cursor: pointer;
    transition: 0.5s;
}
.vocabulary h3:hover {
    color: #2E21DF;
}
.vocabulary h4 {
    margin-top: 10px;
    color: rgba(0,0,0,0.4);
    cursor: pointer;
    transition: 0.5s;
}
.vocabulary h4:hover {
    color: black;
}
.vocabulary p {
    margin-top: 20px;
    color: rgba(0,0,0,0.4);
}
.foot {
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex; 
    padding: 15px;
    justify-content: space-between;
    color: rgba(0,0,0,0.4);
}
.free {
    font-size: 14px;
    padding: 13px 18px;
    background-color: #2E21DF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no {
    font-size: 14px;
    padding: 13px 18px;
    background-color: #F9CF0E;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teachers {
    width: 100%;
    padding-top: 100px;
    background-color: #f8f8f8;
}
.back {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 567px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.best {
    text-align: center;
    padding-top: 25px;
}
.teacher1 {
    width: calc(100% / 3);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.teacher1 img {
    width: 170px;
    border-radius: 50%;
    border: 15px solid #F8F8F8;
}
.listteachers {
    padding-top: 60px;
    display: flex;
    gap: 25px;
}
.teachertext {
    text-align: center;
    padding-bottom: 100px;
    width: 100%;
    height: 150px;
}
.teachertext p {
    color: rgba(0,0,0,0.4) ;
    padding-top: 15px;
}
.iconteach {
    color: #2E21DF;
}
.teachericon ul li {
    display: inline-block;
    color: #2E21DF;
    margin-right: 15px;
}
